*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", helvetica;
    box-sizing: border-box;
}
h1,
h2,
h3{
    color: #333;
}
p{
    color: #70747a;
}

/* início navbar */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #000000;
    padding: 0 2rem;
}
nav{
    position: relative;
}
.logo{
    margin-top: 22px;
}
.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}
.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.navbar-items a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-items a:hover{
    color: #ccc;
}
.default-btn{
    padding: 15px 20px;
    background-color: #d1bd06;
    border-radius: 5px;
}
.navbar-items .default-btn:hover{
    background-color: #e6cf00;
    color: #fff;
}
/* fim navbar */

/* início main banner */
.main-banner{
    background-image: url(img/bannermeuhost4.png);
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}
.main-banner h1{
    font-family: "League Spartan", "Poppins", helvetica;
    color: #000000e8;
    text-align: center;
    font-weight: bold;
    text-shadow: #0000003f 3px 2px 3px;
    margin-top: -40px;
}
.main-banner p{
    font-family: "Quicksand", "League Spartan", "Poppins", helvetica;
    color: #0000007e;
    text-align: center;
    font-weight: bold;
    text-shadow: #00000018 3px 2px 3px;
    margin-top: -5px;
}
.main-banner h1{
    font-size: 60px;
}
.main-banner p{
    font-size: 16px;
}
.main-banner p span{
    color: #000000c0;
}
/* fim main banner */

/* início serviços */
.services-container{
    padding: 5em 0;
}
.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.fas{
    font-size: 60px;
    margin-bottom: 15px;
}
.services-container h3{
    margin-bottom: 22px;
}
.services-container p{
    line-height: 24px;
}
/* fim serviços */

/* início preços e planos */
.pricing-container{
    padding-bottom: 5rem;
    text-align: center;
    margin-top: 30px;
}
.pricing-container h2{
    font-size: 36px;
}
.pricing-container p{
    font-size: 20px;
}
.plans-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}
.plan{
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}
.plan ul{
    padding: 0;
}
.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}
.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}
.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    padding: 50px 0;
}
.plan .plan-btn{
    background-color: #000000;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}
.plan .recommended{
    background-color: #e9d207;
}
.plan .recommended2{
    background-color: #e9d207;
    color: #fff;
    font-size: 12px;
    height: 25px;
    line-height: 5px;
}
/* fim preços e planos */

/* search domain / verificar domínio */
.searchdomain-container{
    background-color: #cccccc;
    text-align: center;
    padding: 5rem 0;
    margin-top: 30px;
}
.searchdomain-container h2{
    color: #000000;
    font-size: 42px;
    margin-bottom: 0px;
}
.searchdomain-container p{
    color: #fff;
    font-size: 24px;
    margin-bottom: 40px;
}
.searchdomain-container input{
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}
.searchdomain-container input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 40px;
}
.searchdomain-container input[type="submit"]{
    background-color: #e9d207;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: .9;
}
.searchdomain-container input[type="submit"]:hover {
    opacity: 1;
}

/* contact form / contatos */
.contact-container{
    text-align: center;
    padding: 5rem 0 2rem 0;
    margin-top: 30px;
}
.contact-container h2{
    font-size: 36px;
}
.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}
.contact-container input,
.contact-container textarea{
    width: 222px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}
.contact-container textarea{
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}
.contact-container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: #e9d207;
    color: #fff;
    cursor: pointer;
    opacity: .9;
}
.contact-container input[type="submit"]:hover{
    opacity: 1;
}

/* footer */
footer{
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
    background-color: #000000;
    padding: 10px;
}
footer p{
    color: #fffffff6;
}

/* responsividade */

/* pequenos monitores a partir de 1100px */
@media (max-width: 1100px){
    .plans-container{
        width: 95%;
    }
    .plan{
        margin: 0 5px;
    }
}

/* tablet 900px */
@media (max-width: 900px){
    .main-banner p {
        font-size: 13px;
        padding: 0 6rem;
    }
    .searchdomain-container{
        padding: 2rem 4rem;
    }
}

/* 790px */
@media (max-width: 790px){
    .main-banner p {
        font-size: 13px;
        padding: 0 6rem;
    }
    .plan li{
        height: 50px;
        line-height: 50px;
        background-color: #e8e9ea;
        color: #333;
    }
    .searchdomain-container{
        padding: 2rem 4rem;
    }
    .plans-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }
    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

/* 705px  */
@media (max-width: 705px){
    .main-banner p {
        font-size: 11px;
        padding: 0 6rem;
    }
    .main-banner{
        height: 100px;
        padding: 10rem 0;
    }
}

/* 612px */
@media (max-width: 612px){
    .navbar-items li{
        font-size: 15px;
        margin-left: 5px;
    }
    .main-banner{
        background-size: auto;
        padding: 8rem 0;
    }
    .main-banner p{
        margin-top: -5px;
        padding: 0px;
    }
    .main-banner h1{
        margin-top: -30px;
        font-size: 55px;
    }
    .plans-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }
    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .searchdomain-container input[type="text"]{
        width: 100%;
        font-size: 12px;
    }
    .searchdomain-container input[type="submit"]{
        width: 80%;
        font-size: 17px;
    }
}
/* celular 576px */
@media (max-width: 576px) {
    html,
    body{
        overflow-x: hidden;
    }
    .logo{
        margin-top: 35px;
        width: 55px;
        margin-left: -8px;
    }
    .navbar-container{
        width: 100%;
        padding: 0 auto;
    }
    .navbar-items li{
        font-size: 12px;
        margin-left: 5px;
    }
    .main-banner{
        background-size: auto;
        padding: 8rem 0;
    }
    .main-banner p{
        margin-top: -5px;
        padding: 0px;
    }
    .main-banner h1{
        margin-top: -30px;
        font-size: 55px;
    }
    .services-container{
        margin-top: -30px;
    }
    .services-container ul{
        flex-direction: column;
    }
    .pricing-container{
        margin-top: 0px;
    }
    .plans-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }
    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .searchdomain-container{
        margin-top: 0px;
    }
    .searchdomain-container h2{
        font-size: 28px;
    }
    .searchdomain-container p{
        font-size: 17px;
    }
    .searchdomain-container input[type="text"]{
        width: 100%;
        font-size: 12px;
    }
    .searchdomain-container input[type="submit"]{
        width: 80%;
        font-size: 17px;
    }
    .contact-container{
        padding: 3rem 2rem;
    }
    .contact-container h2{
        font-size: 34px;
    }
    .contact-container p{
        font-size: 15px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }
}

/* 370px */
@media (max-width: 370px) {
    html,
    body{
        overflow-x: hidden;
    }
    .logo{
        margin-top: 35px;
        width: 50px;
        margin-left: -8px;
    }
    .navbar-container{
        width: 100%;
        padding: 0 auto;
    }
    .navbar-items li{
        font-size: 11px;
        margin-left: 4px;
    }
    .main-banner{
        background-size: auto;
        padding: 6rem 0;
    }
    .searchdomain-container input[type="submit"]{
        width: 80%;
        font-size: 14px;
    }
    .contact-container{
        padding: 3rem 2rem;
    }
    .contact-container h2{
        font-size: 34px;
    }
    .contact-container p{
        font-size: 15px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }

}

/* 350px */
@media (max-width: 350px) {
    html,
    body{
        overflow-x: hidden;
    }
    .logo{
        display: none;
    }
    .navbar-container{
        width: 100%;
        padding: 0 auto;
    }
    .navbar-items li{
        font-size: 12px;
        margin-left: 2px;
    }
    .default-btn{
        padding: 10px 15px;
        background-color: #d1bd06;
        border-radius: 6px;
    }
    .main-banner{
        background-size: auto;
        padding: 5rem 0;
    }
    .searchdomain-container h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .searchdomain-container p{
        font-size: 13px;
        margin-bottom: 15px;
    }
    .searchdomain-container input[type="text"]{
        width: 100%;
        font-size: 9px;
        margin-bottom: 25px;
    }
    .searchdomain-container input[type="submit"]{
        width: 80%;
        font-size: 11px;
    }
    .contact-container{
        padding: 3rem 2rem;
    }
    .contact-container h2{
        font-size: 28px;
    }
    .contact-container p{
        font-size: 13px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .contact-container input,
    .contact-container textarea{
        width: 100%;
        margin: 10px 0;
    }
}